<% provide :title, "Tsups" %>
<% provide :logo_path, "https://dl.dropbox.com/s/8z4izit59dfvva2/trans32.png" %>

<% provide :post_tsup do %>
  <% form_for( @tsup, html: { class: 'navbar-form' } ) do | form | %>
    <div class="input-append">
      <%= form.text_field :content, id: 'appendedInputButton', class: 'span2' %>
      <%= form.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<% @tsups.each do | tsup | %>
  <div class="well well-small">
    <%= tsup.content %> <br \>
  </div>
<% end %>

